@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f7 !important;
  font-family: "Roboto", sans-serif !important;
}

.resume-container {
  min-width: 8in; /* Set width to match A4 paper width */
  height: 11in; /* Set height to match A4 paper height */
  background-color: white; /* Optional: Set background color */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  /* Allow vertical scroll */
  overflow-y: scroll;
  overflow-x: hidden;
}

.heading {
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
}

.sub-heading {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

.body {
  color: black;
  font-weight: normal;
  font-size: 16px;
}

.border-left {
  border-left: 4px solid #000;
}

.section-bold {
  font-weight: bold;
}

.ra {
  padding: 16px;
  margin: 8px;
}

.error-alert {
  border: 1px solid #ffb8b8;
  background-color: rgba(255, 56, 56, 0.05);
  border-radius: 5px;
}

.res-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.gh {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.linking {
  color: rgb(241, 241, 241);
  text-decoration: underline;
}

#skillsSection {
  color: white !important;
}
