@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #f7f7f7;
}

.home-header {
  background: linear-gradient(
      45deg,
      #0000 calc(25% / 3),
      #e5e5e5 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #e5e5e5 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
      45deg,
      #e5e5e5 calc(25% / 3),
      #0000 0 calc(50% / 3),
      #e5e5e5 0 25%,
      #0000 0 75%,
      #e5e5e5 0 calc(250% / 3),
      #0000 0 calc(275% / 3),
      #e5e5e5 0
    ),
    linear-gradient(
      -45deg,
      #0000 calc(25% / 3),
      #e5e5e5 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #e5e5e5 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
        -45deg,
        #e5e5e5 calc(25% / 3),
        #0000 0 calc(50% / 3),
        #e5e5e5 0 25%,
        #0000 0 75%,
        #e5e5e5 0 calc(250% / 3),
        #0000 0 calc(275% / 3),
        #e5e5e5 0
      )
      #fefefe;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-we-work-box {
  border: 3px solid black;
  border-radius: 4px;
  padding: 10px;
  position: relative; /* Add this line */
}

.how-it-works-img {
  width: 150px;
  height: 150px;
}

.steps {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Roboto Mono", monospace;
}

.step-header {
  background-color: black;
  color: white;
  font-size: 20px;
  position: absolute; /* Add this line */
  top: -30px; /* Adjust as needed */
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
}

.step-one {
  padding: 10px 30px;
}

.step-two {
  padding: 10px 28px;
}

.step-three {
  padding: 10px 28px;
}
